$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/css3/border-radius";
@import "compass/typography/links/link-colors";
@import "compass/typography/links/hover-link";


$color_gallery_approx: #eee;
$radius: 2;
$bs: 4;
$height: auto;
nav[class^="nav"] {
	font-weight: bold;
}
body {
	padding-top: 70px;
	padding-bottom: 40px;
	background-color: $color_gallery_approx;
}

.options {
	// @include hover-link;
	border-shadow: 1px 1px 1px 1px #a8a9ae;
    border: 1px bold #000;	

}

label {
	padding-bottom: 2px;
	margin: 0;
}

a.refresh {
	@include link-colors(black, #2d7de3, #2d7de3, black, #000);	
	@include hover-link;
	&:hover,
	&:active {
		text-decoration:underline;	
		font-size:110%;			
		cursor: pointer; 		
	}
}

@mixin box-contents($width: 70%) {
    width: $width;
    text-align: left;
	@include border-radius(8px 8px 6px 6px);
	border-shadow: 3px 3px 2px 2px #eee;
    position: relative;
    padding: 30px 15px;	
    background-color: white;
}

div.instructions {
	@include box-contents(40%);
	height: $height;
}


form[name^="paper"] {
	@include box-contents(100%);
	height: $height;
	font-weight: bold;
	.form-control {
		font-weight: normal;
		border: 2px sold #274a74;
		border-shadow: 2px 2px 1px #2f5b8f;
		position: relative;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}
}

hr.divider {
	margin: 5px 0;
	background-color: $color_gallery_approx;
}
        h1 {font: 30pt "Georgia";}
        p.intro {font: 16pt "Georgia"; color: chocolate;}
        p.fields {font: 16pt "Georgia"; color: chocolate;}
        p.how {font: 16pt "Georgia"; color: chocolate;}
