<p>Dear {{user}},</p>

<p>Paper search result on Gnosis with parameters {{parameters}} is ready below:</p>
<table width="100%" style="border:1px solid" border="1">
    <tr valign="top" align="center">
        {% for title in titles %}
        <th>{{title}}</th>
        {% endfor %}
    </tr>
    {% for paper in papers %}
    <tr align="center" valign="top">
    <td align="center" width="5%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;"><a href=http://www.ncbi.nlm.nih.gov/pubmed?term={{paper.PMID}}>{{paper.PMID}}</a></td>
    <td align="center" width="25%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.TI}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.TA}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.first_author}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.last_author}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.DA}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.IF}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">{{paper.DAF}}</td>
    <td align="center" width="10%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">Cited by {{paper.cite}} in PMC</td>

    {% endfor %}
    </tr>
</table>
<br>
<p>Regards,</p>
<p>The Cistrome admin</p>
<p>Contact: cistrome.dev@gmail.com</p>
