    <div class="well container">
    <h1><b>Instructions</b></h1>
    <p class="intro"><b>Introduction</b></p>
    <p>As the already vast volume of literature resources continues to grow and expand,
    acquiring a list of relevant and valuable papers to read poses a significant obstacle to researchers.
    This user friendly web server, Gnosis, on the other hand, acts to ease the search process by extending the
    abilities of the PubMed query engine by ranking papers by impact factor and date. With Gnosis, users can easily
    and quickly find a consolidated list of the newest and best papers in their desired subject of research.</p>
    <p class="fields"><b>The Fields</b></p>
    <li><b>Query Search: </b>Gnosis queries have the same rules as PubMed searches, utilizing a combination of keywords and tags.
    See the "How can I focus my query search?" section for more information.</li>
    <li><b>Query Limit: </b>The query limit acts as a preliminary interception of query searches that are too general
    (i.e. cell, cancer, etc.). Gnosis will take the user's inputted query search and first count the number of papers that
    surface in relation to the user's query. If the number of papers that surface is greater than the query limit, Gnosis will
    stop its search there, thereby avoiding an unnessecarily long wait and ask the user to further
    specify his/her request. If you want to check and insure the specificity of your query, set a lower query limit.</li>
    <li><b>Impact Factor: </b> With the impact factor option, users can select the minimum impact factor of their papers.
    For example, if the impact factor is set to 5, all papers given to the user will have an impact factor greater than or equal to 5.</li>
    <li><b>Top Number: </b>Users may choose the maximum number of papers given to them using the top number option. For example,
    if the top number option is set to 100, Gnosis will give the user up to the top 100 papers on their query search.</li>
    <li><b>Output Format: </b>Users may select the type of file, either html or text attachment, the papers are sent in.</li>
    <p class="how"><b>How can I focus my query search?</b></p>
    <p>To limit the number of search results to receive the most relevant sources:</p>
<li>Identify the key concepts for your search</li>
<li>Replace general search terms with more specific ones</li>
<li>Add additional terms to your search. Adding a desired time frame [EDAT], the publication type [pt], the journal [TA] or other related details to your query will focus your search results.
For a complete list of the search fields and their respective search tags, please visit the "Search Field Descriptions and Tags" section of <a href="http://www/ncbi.nlm.nih.gov/books?NBK3827/">PubMed Help</a>.</li>
<p><b>Examples:</b></p>
<p>i.e. Instead of searching "CRISPR", a very general search term, search, for example, for CRISPR
reviews that are from China: E.g. CRISPR [tiab] China [ad] review [pt]</p>
<p>i.e. To search for papers published between 2013 and 2015 with CRISPR in the title and
abstract: E.g. CRISPR [tiab] and 2013:2015 [EDAT]</p>
<p>i.e. To search for Alzheimer clinical trials: E.g. Alzheimer [tiab] clinical trials [pt]</p>
<p>i.e. To search for drosophila in the journal Molecular Biology of the Cell: E.g. drosophilia [tiab] Molecular Biology of the Cell [TA]</p>
<br><br><p>For more deatils, please regard <a href="http://www/ncbi.nlm.nih.gov/books?NBK3827/">PubMed Help</a> or <a href=http://library.medicine.yale.edu/tutorials/577">PubMed Tutorial</a>.
    </div>
