<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><strong>Gnosis</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1" ng-controller="HeaderCtrl">
            <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('')}"><a href="#">Home</a></li>
            <li ng-class="{active: isActive('/about')}"><a href="#/about">About</a></li>
            </ul>

        </div>
    </div>
</nav>


<div ui-view='search'></div>
<div ui-view='mail'></div>
<div ui-view='about'></div>