<div class="container" id="search-container" ng-controller="SearchCtrl">
    <div class="col-md-6 form">
    <form name="paper" role="form" class="form-horizontal" ng-submit="search()">
        <div class="form-group">
            <div class="col-md-12">
            <input type="text" ng-model="keywords" class="form-control" name=searchTerm placeholder="PubMed Query Terms" required autofocus>
            </div>
        </div>
        <div class="form-group options">
                <label for="inputNumber" class="col-md-3">Query Limit</label>
                <label for="inputIF" class="col-md-3">Impact Factor</label>
                <label for="inputNumber" class="col-md-3">Top Number</label> 
                <label for="inputNumber" class="col-md-3">Output Format</label>
        </div>
        <div class="form-group options">
            <div class="col-md-3">
                <select name="limit" class="form-control control-label" ng-model="selectedLimit" ng-options="limit for limit in limits"></select>
            </div>    
            <div class="col-md-3">
                <select name="impact" class="form-control control-label" ng-model="selectedIF" ng-options="if for if in impact"></select>
            </div>
            <div class="col-md-3">
                <select name="top" class="form-control control-label" ng-model="selectedItem" ng-options="top for top in tops"></select>
            </div>       
            <div class="col-md-3">
                <select name="limit" class="form-control control-label" ng-model="resultOption" ng-options="r for r in resultOptions"></select>
            </div>                                          
        </div>               
        <div class="form-group">
            <div class="col-md-12">
            <input type="email" ng-model="email" class="form-control" name=email placeholder="Your email" required>
              
            </div>
        </div>         
        <div class="form-group">
            <div class="col-md-12">
            <input type="text" id="captcha-text" class="form-inline" placeholder="Please use it properly" ng-model='captcha_text' required>
            <a class="refresh" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span>Refresh captcha</a>
            <a class="refresh" ng-click='validate()'><span class="glyphicon glyphicon-ok"></span>validate it</a>            
            <img ng-src="{{ captcha_img }}" alt="captcha" id="captcha-img">
            </div>
        </div>   
        <div class="form-group">
            <div class="col-md-12">
            <button ladda="loading" data-style="contract" type="submit" id="myButton" class="btn btn-primary" ng-disabled="paper.$invalid"><span class="glyphicon glyphicon-search"></span>Submit</button>
            </div>
        </div>
<!--          <div
             vc-recaptcha
             theme="dark"
             key="'6Ld_zQMTAAAAAONJJz50s992Axr4JmVy_fKiZva2'"
             on-create="setWidgetId(widgetId)"
             on-success="setResponse(response)"
         ></div>     -->    

         <div class="form-group col-md-12">
            <hr class="divider">
                 <footer>
                     &copy Cistrome 2015
                 </footer>                
         </div>
    </form>        
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 instructions">
        <h3><span class="glyphicon glyphicon-book">Instructions</span></h3>
        <p>This is a tool for searching papers in PubMed and ranking them based on time and impact factor.</p>
        <ul class="list-group">
            <li class="list-group-item">
                Step 1. Fill in the pubMed query term, please see <a href="#about">'about'</a>.

            </li>
            <li class="list-group-item">
                    Step 2. Choose option, the 'top number' of papers returned have impact factor larger than 'impact factor',
                    The searching is limited by 'query limit' in case that you search concept is so wide, such as cell, cancer . The results are sent through 'email content' of html format or text attachment.
            </li>
            <li class="list-group-item">
                    Step 3. Type in captcha and submit. Then wait for your email.
            </li>
        </ul>

    </div>


</div>
